html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#633f44, #1d1315);
}

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "lnum";
  color: $light-font-color;
  user-select: none;
}

input {
  @include pillow;
  font-family: $font-family;
  padding: 0.2rem 0.6rem;
  transition: box-shadow 200ms ease;

  &:focus {
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.4) inset,
      0 1px 4px 1px rgba(255, 255, 255, 0.5);
    outline: none;
  }
}

button {
  @include pillow;
  font-family: $font-family;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
  transition: filter 200ms ease;

  &:hover,
  &:focus {
    outline: none;
    filter: brightness(110%);
  }

  &:disabled {
    @include disabled;
  }
}

.quantity-indicator {
  @include pillow;
  @include round($quantity-indicator-size);
  font-size: $quantity-indicator-font-size;
  line-height: $quantity-indicator-size;
  text-align: center;
  color: $dark-font-color;
  font-weight: 600;
  background-color: $secondary-background-color;
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(50deg);
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(-20%);
  }
  100% {
    opacity: 1;
  }
}
